


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  .center-element
  {
      align-items: center;
    text-align: center;
  }
  button
  {
      margin-right: 2rem;
  }
  .bg-green{
    background-color:green;
  }